body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
}
nav ul {
    list-style-type: none; /* ko có dấu đầu dòng*/
    display: flex;
    gap: 20px; /* Khoảng cách giữa các mục menu */
}
main {
    padding: 10px;
}

section {
    margin-bottom: 30px;
}

h2 {
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

.genre-container,
.playlist-container,
.artist-container,
.video-container,
.release-container,
.album-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.genre,
.playlist,
.artist,
.video,
.release,
.album {
    background-color: #282828;
    padding: 20px;
    border-radius: 5px;
    flex: 1 1 calc(33% - 20px);
}


.gradient-text {
    background: linear-gradient(to right, #ff69ff, #0E9EEF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: bold;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
}
.genre-container {
    display: flex; 
    flex-wrap: wrap; /* genre xuống dòng nếu không đủ chỗ */
    justify-content: space-around; /* căn giữa  */
    background-color: #0a0801; 
}

.genre {
    flex: 1 1 100px; /* Đặt kích thước tối thiểu cho mỗi genre */
    margin: 10px; /* Khoảng cách giữa các genre */
    border: 1px solid #eee9e9; /* Đường viền cho mỗi genre */
    border-radius: 8px; /* gọt tròn các góc */
    overflow: hidden; /* ẩn phần thừa */
    transition: transform 0.3s; /*chuyển động mượt mà nha*/
}

.genre:hover {
    transform: scale(1.05); /* đọng đậy khi click */
}

.genre img {
    width: 100%; 
    height: auto; /* giữ tl hình ảnh */
}
.playlist-container {
    display: flex;
    flex-direction: row ; /* Sắp xếp theo chiều dọc */
    align-items: center; /* Căn giữa các playlist */
    padding: 20px;
    background-color: #f0f0f0; /* Màu nền cho container */
}

/* Định dạng cho mỗi playlist */
.playlist {
    flex: 1 1 100px; 
    margin: 10px; 
    border: 1px solid #eee9e9;
    border-radius: 8px; 
    overflow: hidden; 

}

/* định dạng hình ảnh playlist */
.playlist img {
    width: 100%; /*  rộng 100%  */
    height: auto;
}

/* Định dạng cho tiêu đề playlist */
.playlist::before {
    content: attr(class); /* lấy tên playlist từ class */
    position: absolute; /*tiêu đề*/
    top: 10px; /* cách trên xuống */
    left: 50%; /* căn giữa theo chiều ngang */
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7); /* mờ tiêu đề */
    color: white;
    padding: 5px 10px; 
    border-radius: 5px; /*bo tròn góc*/
    font-size: 16px; 
}
.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
}
