/* CSS cơ bản cho trang */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9400D3; /* Màu nền đặc trưng của Spotify */
    color: white;
    height: 2000px;
}
/* Search Bar */
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px; /* Adjust as needed */
}

.search-input {
    width: 300px; /* Adjust width as needed */
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
    font-size: 16px;
    padding-left: 40px; /* Space for the icon */
    margin-right: 450px;
}

.search-input::placeholder {
    color: #bbb; /* Placeholder text color */
}

.search-icon {
    position: absolute;
    left: 10px;
    color: #bbb; /* Icon color */
    font-size: 20px;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #121212;
    background-image: url(images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero h1 {
    font-size: 60px;
    text-align: left;
    justify-content: center;
    line-height: 2cm;
}

.hero p {
    font-size: 20px;
    margin: 30px 0;
    text-align: left;
    line-height: 7mm;
    width: fit-content;
}

.button1 {
    background-color: #9400D3;
    padding: 10px 20px;
    color: black;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin: 0px 5px;
    
}

.button2 {
    background-color: #121212;
    padding: 10px 20px;
    color: rgb(51, 223, 242);
    font-size: 18px;
    border: 2px solid rgb(51, 223, 242);
    cursor: pointer;
    border-radius: 30px;
    margin: 0px 5px;
}

footer {
    background-color: #181818;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
